* {
	margin: 0;
	padding: 0;
}

html {
    font-size: 1em;
}

.container {
	display: flex;
	flex-flow: column;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.header a {
	max-width: 100%;
	margin-top: 0.7rem;
	margin-bottom: 0.3rem;
}

.main {
	background-image: url(../../Assets/background-home.jpg);
	background-size: 100%;
}

.main-content, .list, .hits-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-content {
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.main-content h1 {
	font-family: 'Roboto Slab', serif;
	color: #FFF;
}

.main-content p {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
}

.shorten-div {
	display: flex;
	justify-content: center;
	width: 95%;
	margin-top: 3.5rem;
}

.input-content {
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
	margin-right: 0.5rem;
	border-bottom: 2px solid #FF6E0D;
}

.flex-start-content {
	justify-content: flex-start;
}

.space-between-content {
	justify-content: space-between;
}

::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	color: #FF6E0D;
}

::-webkit-input-placeholder { 
	font-family: 'Roboto', sans-serif;
	color: #FF6E0D; 
}
::-moz-placeholder { /* firefox 19+ */
	font-family: 'Roboto', sans-serif;
	color: #FF6E0D; 
} 
:-ms-input-placeholder { /* ie */
	font-family: 'Roboto', sans-serif;
	color: #FF6E0D 
} 
input:-moz-placeholder { 
	font-family: 'Roboto', sans-serif;
	color: #FF6E0D;
}

.long-url {
	padding: 0.5rem;
	background: transparent;
	border: none;
	margin-right: 0.5rem;
	width: 20rem;
	display: inline-block;
}

.shorten-button, .copy-button {
	border: none;
	background-color: #FF6E0D;
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0.5rem;
}

.list {
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.list h2, .hits h2, .number-hits {
	font-family: 'Roboto Slab', serif;
	color: #AA1423;
}

.top5 {
	font-family: 'Roboto', sans-serif;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.last-column {
	color: #777;
 }  

.json-link {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #AA1423;
 }

.line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
 }

.line:not(:last-child) {
	border-bottom: 1px solid #EEE;
}

 .hits {
 	background-color: #EEE;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }

 .hits-content {
	margin-bottom: 2rem;
 }

 .number-hits {
 	font-size: 1.5rem;
 	padding: 0.3rem;
 	background-color: #FFF;
 	border: 0.5px solid #777;
 	border-radius: 5px;
 	margin-top: 1rem;
 	margin-bottom: 0.2rem;
 }

 .support {
 	color: #777;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8rem;
 }

 .triangule {
	width: 0;
	height: 0;
	border: 50px solid;
	border-color: #FFF #EEE #EEE #EEE;
}

.footer {
	margin: 0.5rem;
	display: flex;
	justify-content: center;
}

.footer-content {
	display: flex;
	width: 70%;
	justify-content: space-between;
}

.icons a:not(:last-child){
	margin-right: 1.5rem;
}

.link {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #AA1423;
	align-self: center;
}

.copy-button, .erase {
	display: none;
}

.erase, .long-url {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	text-decoration: none;
}

.erase:hover {
	cursor: pointer;
}

.last-column {
	border: none;
}


@media screen and (max-width:680px) {
	.shorten-div {
		flex-direction:column;
	}

	.shorten-button, .copy-button {
		font-size: 2rem;
		margin-top: 1rem;
	}

}